body {
    background-color: lightblue;
    font-size: 21px;
    font-family: sans-serif, monospace;
}

h1 {
    font-size: 70px;
    color: darkblue;
    margin-bottom: 0px;
}

h2 {
    margin-top: 0px;
}

p {
    color: navy;
    background-color: yellow;

    clear: both;
}

img {
    float: left; /* left, right, none */
    margin-right: 20px;
}

/* .red-box {
    height: 500px;
    width: 500px;
    background-color: rgba(255,0,0,0.5);
    float: left;

    margin-right: 50px;
}

.blue-box {
    height: 400px;
    width: 700px;
    background-color: blue;
} */

.box {
    width: 100px;
    height: 100px;
    float: left;
}

.box1 {
    background: pink;
}

.box2 {
    background: red;
}

.box3 {
    background: firebrick;
    float: left;
}

.box4 {
    background: orange;
}

.box5 {
    background: yellow;
    clear: both;
}

.box6 {
    background: lightgreen;
}

.box7 {
    background: green;
}

.box8 {
    background: blue;
}

.box9 {
    background: purple;
    opacity: 0.25; /* 0-1, acts as the alpha value, acts on text as well */
}