body {
    background-color: lightblue;
    font-size: 21px;
}

h1 {
    font-size: 70px;
    color: darkblue;
}

p {
    color: navy;
}


/* classes begin with a "." */
.container {
    background: white;
    width: 75%;
    max-width: 1000px;
    margin: 0 auto;
}

.intro {
    font-size: 30px;
}

.highlight {
    background: yellow;
}

.accent-color {
    color: red;
}

.top-section {
    background: pink;
}

.bottom-section {
    background: green;
}


/* box model */
/*
    margin: spacing around outside of box
    border: "frame" around the box
    padding: spacing on inside of box
*/
.box {
    width: 500px;
    height: 500px;
    background: pink;

    margin: 100px;
    border: 10px solid red; /* size, style, color */
    padding: 50px 100px 300px 25px; /* top, right, bottom, left (clockwise) OR top/bottom, left/right */
}